/node_modules/
node_modules/

# Ignore environment files
.env
src/configs/.env.development
src/configs/.env.production
src/configs/.env.test
build/configs/.env.production

/scripts/AWS-key.pem
.DS_Store 